--- yaml
title: About Us
layout: default
heading: About Us
pageOrder: 1
---
//- Main hero unit for a primary marketing message or call to action
.hero-unit
  h2.page-title Zunda Networks
  span(style="font-style: italic; color: #FF0000") Conquer ICT ⟶ Improve Living standards

  p.
    Zunda Networks is an ICT services outfit specialising in innovative
    application of “Open Source” and “Open Standards” Compliant ICT
    technologies to allow business houses and home users to easily carry
    out their day to day activities. Our products defy vendor lock-in.

  //-2014/01/28 10:01:36 commented out until proper office .address: :markdown
      **Address**: Chimanga rd 20, Chilenje South,<br>
      Lusaka, Zambia<br>
      **Tel**: +260-961-931568<br>
      **Email**: sales@zundanetworks.com<br>
      **Hours**: Monday - Friday: 8:00 AM to 5:00 PM
      
  .address: :markdown
      **Location**: Lusaka, Zambia<br>
      **Tel**: +260-961-931568<br>
      **Email**: sales@zundanetworks.com<br>
      **Hours**: Monday - Friday: 8:00 AM to 5:00 PM
      
.row
  .span6
    strong Our Mission <br>
    span.
     To deliver integrated, comprehensive and innovative business and home ICT solutions(FOSS based and Open Standards Compliant) that defy vendor lock-in.
  .span6
    strong Our Vision: <br>
    span To be a major player in the Advancement of ICTs and Improve Standards of Living
