--- yaml
layout: 'page'
title: 'Enterprise eMail Server for only K4,200.00'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit.advert
  .row
    //h2.page-title Enterprise eMail Server for only K4,200.00
    .span6
      img(alt="Zunda Networks supported email server" src="/images/zunda-mail.png" style="float: left; width: auto")
      div.nomo-price(style="text-decoration: line-through; font-style: italic; font-size: 21px; float: left; color:#333;").
        Usual Price : K9,300.00
    .span6
      strong Be Smart -> for only K4,200.00 get all this in our enterprise mail server<br>
      //span What you find in the box
      ol
        li Smart SPAM filtering
        li AntiVirus
        li Original sender verification
        li Virus free Operating System
        li 1 Month free Zunda Networks support
        li Life time license
        li Unlimited email accounts
        li Calendar: Organize your time effectively and effortlessly, plan meetings with your colleagues with free/busy information, send meeting requests or book resources.
        li Address Book: Manage all your contacts and share them with others using the shared address book.
        li Task Management that works, allowing you to manage personal tasks or share them with colleagues to work much more effectively.
        li Group mailboxes and public folders can be used for all incoming support or sales emails
        //li

      //- p: a.btn.btn-warning.btn-large(href="mailto:sales@zundanetworks.com?subject=Enterprise eMail Server for only K4,200.00"
                                      //- style="text-align: left; font-size: 20px")
          //- strong Get in touch while offer lasts<br>
          //- span(style="text-align: left; font-size: 17px") sales@zundanetworks.com<br>Tel:+260-961-931568

      //- linked to contact form
      p: a.btn.btn-warning.btn-large(href="/contact" style="text-align: left; font-size: 20px")
          strong Get in touch while offer lasts<br>
          span(style="text-align: left; font-size: 17px") sales@zundanetworks.com<br>Tel:+260-961-931568


// Example row of columns.
.row
  .span
    p Email has become a mission-critical application for any company, facilitating internal and external communication and collaboration. Our open source collaboration/groupware solution combines the usability of your existing mail clients like Outlook, Thunderbird etc, with its inbuilt webmail client and mobile device synchronisation.

    p The backend server thrives on the stability and flexibility of the virus free Linux Operating System

    p What we are offering you is a full replacement/alternative to Microsoft Exchange Server, with the added advantange of not running on a virus/malware prone Operating System that frees you from baby sitting a server, hence allowing your ICT staff to attend to more important tasks.

