---
layout: default
---

//by Kwabi: 2014/01/16 10:25:42 publish date
.container
  !=partial('post', {title: document.title, url: document.url, tags: document.tags, date: document.date, individualPost: true })
  //!= content
  if document.comments && site.disqusShortName
    !=partial('disqus')

.related
  if document.relatedDocuments && document.relatedDocuments.length
    section#related
      h3 Related Posts
      nav.linklist
        each doc in document.relatedDocuments
          li
            span= doc.date.toDateString()
            |  &raquo;&nbsp;
            a(href=doc.url)= doc.title
